.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-image: radial-gradient(ellipse  farthest-corner at left top, #FFFFFF 0%, #FFFFAC 0%, #D1B464 0%, #5d4a1f 100%, transparent 80%);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.navbar-laravel {
    background-image:radial-gradient(ellipse  farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 100%, transparent 80%);
    box-shadow: 0 2px 4px rgba(0,0,0,.04)
}
